Repository dzcode-io/kuliya, changes with the labels that .github/labeler.yml gives for each.
All labels: data, schemas, csharp, java, javascript, php, python, rust, c, d

remove data.d from .gitignore
  d/.gitignore
  d/source/kuliya/data.d
Labels: d

Add installation and usage instructions to README.md for kuliya package
  d/README.md
Labels: d

Update D section in README.md to include version and CI badge
  README.md
Labels: none

Add of the python support
  python/README.md
  python/main.py
Labels: python

Update dependencies in Cargo.lock and Cargo.toml for version upgrades
  rust/Cargo.lock
  rust/Cargo.toml
Labels: rust

Add function to retrieve children nodes by path
  rust/build.rs
  rust/src/static/_auto_generated/data.rs
Labels: rust

Rename function to get_node_children_by_path for clarity
  rust/Cargo.lock
  rust/Cargo.toml
  rust/build.rs
  rust/src/static/_auto_generated/data.rs
  rust/src/static/api/mod.rs
Labels: rust

Add code field to Node struct and update related instances
  rust/build.rs
  rust/src/static/_auto_generated/data.rs
  rust/src/static/api/mod.rs
  rust/src/static/node/mod.rs
Labels: rust

use short code
  rust/build.rs
  rust/src/static/_auto_generated/data.rs
Labels: rust

Change code formatting to lowercase in build script
  rust/build.rs
  rust/src/static/_auto_generated/data.rs
Labels: rust

Refactor build script to simplify children match formatting
  _data/ubma/info.json
  rust/build.rs
  rust/src/static/_auto_generated/data.rs
Labels: data, rust

Add kulya_python package with JSON data handling and utilities
  python/LICENSE
  python/README.md
  python/dist/kulya_python-1.6-py3-none-any.whl
  python/dist/kulya_python-1.6.tar.gz
  python/main.py
  python/pyproject.toml
  python/src/kulya_python/__init__.py
  python/src/kulya_python/data.json
  python/src/kulya_python/node.py
  python/src/kulya_python/utils.py
Labels: python

Add unit tests for utility functions in kulya_python package
  python/src/kulya_python/tests/__init__.py
  python/src/kulya_python/tests/__pycache__/test_utils.cpython-312.pyc
  python/src/kulya_python/tests/test_utils.py
Labels: python

Change code formatting to lowercase in test cases for consistency
  rust/src/static/api/mod.rs
Labels: rust

Fix code extraction logic to use next_back for improved path handling
  rust/build.rs
Labels: rust

Change git status check to use git diff for improved accuracy in detecting uncommitted changes
  .github/workflows/rust-checks.yml
Labels: none

ensure deterministic output on different platforms
  rust/build.rs
  rust/src/static/_auto_generated/data.rs
Labels: rust

Update test cases to include node codes in expected JSON output
  rust/src/static/api/mod.rs
Labels: rust

.github/labeler.yml:

data:
  - changed-files:
      - any-glob-to-any-file: "_data/**"

schemas:
  - changed-files:
      - any-glob-to-any-file: "_schemas/**"

csharp:
  - changed-files:
      - any-glob-to-any-file: "csharp/**"

java:
  - changed-files:
      - any-glob-to-any-file: "java/**"

javascript:
  - changed-files:
      - any-glob-to-any-file: "javascript/**"

php:
  - changed-files:
      - any-glob-to-any-file: "php/**"

python:
  - changed-files:
      - any-glob-to-any-file: "python/**"

rust:
  - changed-files:
      - any-glob-to-any-file: "rust/**"

c:
  - changed-files:
      - any-glob-to-any-file: "c/**"

d:
  - changed-files:
      - any-glob-to-any-file: "d/**"
