Repository dzcode-io/kuliya, pull requests merged in 2020-10, with the labels that each got.

#7 PHP package base structure
  php/CHANGELOG.md
  php/CONTRIBUTING.md
  php/LICENCE.md
  php/bin/README.md
  php/bin/index.html
  php/composer.json
  php/config/README.md
  php/config/index.html
  php/docs/README.md
  php/docs/index.html
  php/public/README.md
  php/public/index.html
  php/resources/README.md
  php/resources/index.html
  php/src/README.md
  php/src/index.html
  php/tests/README.md
  php/tests/index.html
Labels: hacktoberfest, php

#15 data templates
  .github/ISSUE_TEMPLATE/new_node_request.md
  .github/ISSUE_TEMPLATE/update_node_request.md
Labels: documentation

#24 added faculties and institutes in UMKB
  _data/umkb/fdsp/info.json
  _data/umkb/fll/info.json
  _data/umkb/fsecsg/info.json
  _data/umkb/fsesnv/info.json
  _data/umkb/fshs/info.json
  _data/umkb/istaps/info.json
  _schemas/l1.json
  _schemas/l2.json
Labels: data, schemas

#26 Add University Of Mouloud Mammri Tizi-Ouzou
  _data/ummto/dmi/info.json
  _data/ummto/dsat/info.json
  _data/ummto/fdsp/info.json
  _data/ummto/fgc/info.json
  _data/ummto/fgei/info.json
  _data/ummto/fmed/info.json
  _data/ummto/fsbsa/info.json
  _data/ummto/fsecsg/info.json
  _data/ummto/fshs/info.json
  _data/ummto/info.json
Labels: data, hacktoberfest

#27 Add University Of Science And Technology Houari Boumediene Algiers USTHB
  _data/usthb/fchimie/dcm/info.json
  _data/usthb/fchimie/dcoa/info.json
  _data/usthb/fchimie/dcpmi/info.json
  _data/usthb/fchimie/dcpt/info.json
  _data/usthb/fchimie/info.json
  _data/usthb/fei/auto/info.json
  _data/usthb/fei/elt/info.json
  _data/usthb/fei/info.json
  _data/usthb/fei/info/info.json
  _data/usthb/fei/telecom/info.json
  _data/usthb/fgc/dgh/info.json
  _data/usthb/fgc/dsm/info.json
  _data/usthb/fgc/info.json
  _data/usthb/fgmgp/dcmp/info.json
  _data/usthb/fgmgp/dgcc/info.json
  _data/usthb/fgmgp/dgegp/info.json
  _data/usthb/fgmgp/dsm/info.json
  _data/usthb/fgmgp/dte/info.json
  _data/usthb/fgmgp/info.json
  _data/usthb/fmath/da/info.json
  _data/usthb/fmath/datn/info.json
  _data/usthb/fmath/dps/info.json
  _data/usthb/fmath/dro/info.json
  _data/usthb/fmath/info.json
  _data/usthb/fphy/demf/info.json
  _data/usthb/fphy/dmc/info.json
  _data/usthb/fphy/dpr/info.json
  _data/usthb/fphy/dpt/info.json
  _data/usthb/fphy/info.json
  _data/usthb/fsb/dbcm/info.json
  _data/usthb/fsb/dbpo/info.json
  _data/usthb/fsb/dee/info.json
  _data/usthb/fsb/info.json
  _data/usthb/fstgat/dg/info.json
  _data/usthb/fstgat/dgat/info.json
  _data/usthb/fstgat/dgp/info.json
  _data/usthb/fstgat/info.json
  _data/usthb/info.json
Labels: data

#30 Bootstrap php package
  php/.gitignore
  php/README.md
  php/composer.json
  php/composer.lock
  php/index.php
  php/src/SkeletonClass.php
Labels: hacktoberfest-accepted, php

#32 Add University University Mohamed Boudiaf M'sila (UMBM)
  _data/umbm/fdsp/ddroit/info.json
  _data/umbm/fdsp/dsp/info.json
  _data/umbm/fdsp/info.json
  _data/umbm/fll/dall/info.json
  _data/umbm/fll/dell/info.json
  _data/umbm/fll/dfll/info.json
  _data/umbm/fll/info.json
  _data/umbm/fmi/dcs/info.json
  _data/umbm/fmi/dmath/info.json
  _data/umbm/fmi/info.json
  _data/umbm/fsci/dbcmb/info.json
  _data/umbm/fsci/dchi/info.json
  _data/umbm/fsci/dphy/info.json
  _data/umbm/fsci/dsa/info.json
  _data/umbm/fsci/dsnv/info.json
  _data/umbm/fsci/info.json
  _data/umbm/fsegc/dsc/info.json
  _data/umbm/fsegc/dse/info.json
  _data/umbm/fsegc/dsfc/info.json
  _data/umbm/fsegc/dsg/info.json
  _data/umbm/fsegc/info.json
  _data/umbm/fshs/dhist/info.json
  _data/umbm/fshs/dphilo/info.json
  _data/umbm/fshs/dsci/info.json
  _data/umbm/fshs/dsi/info.json
  _data/umbm/fshs/dsocio/info.json
  _data/umbm/fshs/info.json
  _data/umbm/ftech/dce/info.json
  _data/umbm/ftech/dee/info.json
  _data/umbm/ftech/delec/info.json
  _data/umbm/ftech/dhydr/info.json
  _data/umbm/ftech/dme/info.json
  _data/umbm/ftech/info.json
  _data/umbm/info.json
  _data/umbm/istaps/dags/info.json
  _data/umbm/istaps/dapsa/info.json
  _data/umbm/istaps/dcbf/info.json
  _data/umbm/istaps/dep/info.json
  _data/umbm/istaps/dfc/info.json
  _data/umbm/istaps/dmcs/info.json
  _data/umbm/istaps/info.json
  _data/umbm/iutm/dcg/info.json
  _data/umbm/iutm/dcm/info.json
  _data/umbm/iutm/due/info.json
  _data/umbm/iutm/info.json
Labels: data, hacktoberfest-accepted

#33 * add univerisity of algeris 2.
  _data/ua2aks/falaol/dala/info.json
  _data/ua2aks/falaol/dart/info.json
  _data/ua2aks/falaol/dtrl/info.json
  _data/ua2aks/falaol/dts/info.json
  _data/ua2aks/falaol/info.json
  _data/ua2aks/fle/den/info.json
  _data/ua2aks/fle/dfr/info.json
  _data/ua2aks/fle/dsgi/info.json
  _data/ua2aks/fle/info.json
  _data/ua2aks/fsh/dh/info.json
  _data/ua2aks/fsh/dld/info.json
  _data/ua2aks/fsh/dph/info.json
  _data/ua2aks/fsh/info.json
  _data/ua2aks/fss/dedu/info.json
  _data/ua2aks/fss/dpsy/info.json
  _data/ua2aks/fss/dsocio/info.json
  _data/ua2aks/fss/dst/info.json
  _data/ua2aks/fss/info.json
  _data/ua2aks/ia/info.json
  _data/ua2aks/info.json
  _data/ua2aks/it/info.json
Labels: data, hacktoberfest-accepted
